p{color:rgb(0, 0, 0); font-size: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
body{background-color: rgb(212, 213, 255);}
h1{color: rgb(0, 0, 0);font-size: 15px;}
ul{text-align: left; font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
li{text-align: left; font-size: 12px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }
button{text-align: center; font-size: 12px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }
.abutton{background-color: rgb(169, 189, 248);}
.bbutton{background-color: rgb(253, 255, 119);}
.basicword{font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }
.listyle{font-size: 9px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.img-fluid{
        width: 200px;
        height: 200px;
}
.img-fluid1{
    width: 200px;
    height: 200px;
}
.btnmargin{
    margin: 20px;

}
.navstyle{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navitem{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    flex: 1 1 auto;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.flex-container > div {
    background-color: #d1fcff;
    width: 100px;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.content_con{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    height: 6rem;
}


.content_acon{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    height: auto;
  
}
.content_pic{
    width: 50;
    height: 50;

}


.content_bcon{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(206, 255, 250);
    text-align: center;
    height: auto;
}
.content_ccon{
    display: flex;
    flex-flow: row wrap;
    background-color: tomato;
    text-align: center;
    height: auto;
}
.content_con>codiv{
    width: 100px;
    margin: 5px;
    margin-top: 50px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}
.table_con{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    margin:5px;

}
.margin{
    margin-right: 0.5rem;
}
.table_con>div{
    width: 100px;
    margin: 5px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.table_con>biodiv{
    width: 100px;
    margin: 5px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: left;
    line-height: 30px;
    font-size: 20px;
}
.table_con>biop{
    width: 100px;
    margin: 5px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: left;

}
.table_con>p{
    width: 100px;
    margin: 5px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
}
.inputalign{
    width: auto;
}
.table_align{
    text-align: left;
}

.footer_con{
    display: flex;
    flex-flow: row wrap;
}
.footer_con>fodiv{

    background-image: url("");
    width: 00px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;

}
.drag_container{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}
.drag_container>div{
    width: 150px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.picSize{
    width: 5rem;
    height: 20rem;

}
.optionDiv{
    width: 250;
    height: 250;
}
/* 拖曳項目*/

[draggable="true"] {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
.divmargin{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.dragging {
  opacity: .25;
}
.ul_title{
text-align: center;
font-size: 24;

}

#result {
    display: none;
    color: red;
}
.content_con_simu{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    height: 30rem;
}
.content_con_simu>codiv{
    margin: 5px;
    margin-top: 55px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}



.progessbar {
    position: relative;
    text-align: center;
    border: 1px dashed blue;
    height: 50px;
    width: 100%;
    
  }
  
  .progessbar .text {
    position: absolute;
    font-weight: bolder;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    z-index: 10;
  }

  .progessbar .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    background-color: rgb(69, 31, 238);
  }

  .guide{
    width: 50%;
    height: 550px;
    position: relative;
    background-color: rgb(153, 223, 255);
    text-align: center;
    left: 25%;  
    margin-top: 110px;
  }